node_modules
npm-debug.log
.git
.gitignore
client/node_modules
server/node_modules
server/tests
client/tests
tests/
simulation/
client/build
server/dist
coverage/
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local