{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["../server"],
        "alias": {
          "@config": "../server/config",
          "@config/messages": "../server/config/messages",
          "@models": "../server/models",
          "@utils": "../server/utils",
          "@controllers": "../server/controllers",
          "@middleware": "../server/middleware",
          "@services": "../server/services",
          "@shared": "../server/shared"
        }
      }
    ]
  ]
}
